#datascript/DB {:schema
 {:create/user
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :plugin/id {:db/unique :db.unique/identity},
  :node/subpages
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :vc/blocks
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :edit/seen-by
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :window/id {:db/unique :db.unique/identity},
  :attrs/lookup
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :node/windows
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :d/v
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :block/clone
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :node/sections
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :harc/v
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :node/title {:db/unique :db.unique/identity},
  :block/refs
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :harc/a
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :edit/user
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :block/subpage
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :block/children
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :block/focused-user
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :create/seen-by
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :block/uid {:db/unique :db.unique/identity},
  :d/e
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :d/a
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :user/uid {:db/unique :db.unique/identity},
  :node/links
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :link/to
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :user/email {:db/unique :db.unique/identity},
  :query/results
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :harc/e
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :block/parents
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :graph/name {:db/unique :db.unique/identity},
  :block/page
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :version/id {:db/unique :db.unique/identity}},
 :datoms
 [[1 :version/id "0.0.0" 536870913]
  [1
   :version/nonce
   "uuida231391d-1407-4a1b-ad0b-ab408dbbc664"
   536870913]
  [1
   :version/upgraded-nonce
   "uuida231391d-1407-4a1b-ad0b-ab408dbbc664"
   536870914]
  [2 :version/id "0.8.5" 536870914]
  [2
   :version/nonce
   "uuid93cb3691-ced3-4795-822b-275529356c17"
   536870979]
  [3 :block/uid "oZNKqf6z0" 536870915]
  [3 :user/uid "IZ47TZ54XWU1477FdHkkHyAPbrG3" 536870915]
  [26 :block/children 27 536870965]
  [26 :block/children 28 536870965]
  [26 :block/children 32 536870969]
  [26 :block/children 33 536870972]
  [26 :block/children 34 536870975]
  [26 :block/children 35 536870978]
  [26 :block/open true 536870965]
  [26 :block/uid "06-05-2021" 536870965]
  [26 :create/time 1622890673325 536870966]
  [26 :create/user 3 536870965]
  [26 :edit/time 1622880253823 536870965]
  [26 :edit/user 3 536870965]
  [26 :log/id 1622831400000 536870966]
  [26 :node/title "June 5th, 2021" 536870965]
  [27 :block/open true 536870965]
  [27 :block/order 0 536870965]
  [27 :block/string "ARE YOU AWARE NOW" 536870965]
  [27 :block/uid "n8vq-ZRz8" 536870965]
  [27 :create/time 1622880283219 536870965]
  [27 :create/user 3 536870965]
  [27 :edit/time 1622887437412 536870965]
  [27 :edit/user 3 536870965]
  [28 :block/open true 536870965]
  [28 :block/order 1 536870965]
  [28 :block/string "CAN YOU STOP BEING" 536870965]
  [28 :block/uid "tQBe81Yig" 536870965]
  [28 :create/time 1622887373886 536870965]
  [28 :create/user 3 536870965]
  [28 :edit/time 1622887450404 536870965]
  [28 :edit/user 3 536870965]
  [32 :block/open true 536870969]
  [32 :block/order 2 536870969]
  [32 :block/page 26 536870970]
  [32 :block/parents 26 536870970]
  [32 :block/string "DONT BELIEVE YOUR NEXT THOUGHT" 536870971]
  [32 :block/uid "2sQTreOiS" 536870969]
  [32 :create/time 1622892366533 536870969]
  [32 :create/user 3 536870969]
  [32 :edit/time 1622892368045 536870971]
  [32 :edit/user 3 536870969]
  [33 :block/open true 536870972]
  [33 :block/order 3 536870972]
  [33 :block/page 26 536870973]
  [33 :block/parents 26 536870973]
  [33 :block/string "AWARENESS ITSELF IS AWARE OF AWARENESS" 536870974]
  [33 :block/uid "6gdMoP_NZ" 536870972]
  [33 :create/time 1622893246139 536870972]
  [33 :create/user 3 536870972]
  [33 :edit/time 1622893248301 536870974]
  [33 :edit/user 3 536870972]
  [34 :block/open true 536870975]
  [34 :block/order 4 536870975]
  [34 :block/page 26 536870976]
  [34 :block/parents 26 536870976]
  [34 :block/string "test 1" 536870977]
  [34 :block/uid "043h9AwyF" 536870975]
  [34 :create/time 1622893751775 536870975]
  [34 :create/user 3 536870975]
  [34 :edit/time 1622899784172 536870977]
  [34 :edit/user 3 536870975]
  [35 :block/open true 536870978]
  [35 :block/order 5 536870978]
  [35 :block/page 26 536870979]
  [35 :block/parents 26 536870979]
  [35 :block/string "" 536870978]
  [35 :block/uid "F5l3HMel5" 536870978]
  [35 :create/time 1622899785343 536870978]
  [35 :create/user 3 536870978]
  [35 :edit/time 1622899785343 536870978] 
  [35 :edit/user 3 536870978]]}
