#datascript/DB {:schema
 {:create/user
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :plugin/id {:db/unique :db.unique/identity},
  :node/subpages
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :vc/blocks
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :edit/seen-by
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :window/id {:db/unique :db.unique/identity},
  :attrs/lookup
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :node/windows
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :d/v
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :block/clone
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :node/sections
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :harc/v
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :node/title {:db/unique :db.unique/identity},
  :block/refs
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :harc/a
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :edit/user
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :block/subpage
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :block/children
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :block/focused-user
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :create/seen-by
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :block/uid {:db/unique :db.unique/identity},
  :d/e
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :d/a
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :user/uid {:db/unique :db.unique/identity},
  :node/links
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :link/to
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :user/email {:db/unique :db.unique/identity},
  :query/results
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :harc/e
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :block/parents
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/many},
  :graph/name {:db/unique :db.unique/identity},
  :block/page
  {:db/valueType :db.type/ref, :db/cardinality :db.cardinality/one},
  :version/id {:db/unique :db.unique/identity}},
 :datoms
 [[1 :version/id "0.0.0" 536870913]
  [1
   :version/nonce
   "uuida231391d-1407-4a1b-ad0b-ab408dbbc664"
   536870913]
  [1
   :version/upgraded-nonce
   "uuida231391d-1407-4a1b-ad0b-ab408dbbc664"
   536870914]
  [2 :version/id "0.8.5" 536870914]
  [2
   :version/nonce
   "uuid6a1a6064-3aa8-4cbc-9da5-1f644f7dcd21"
   536870984]
  [3 :block/uid "oZNKqf6z0" 536870915]
  [3
   :user/settings
   {:namespace-options [:none :partial :full],
    :right-sidebar-pinned {}}
   536870981]
  [3 :user/uid "IZ47TZ54XWU1477FdHkkHyAPbrG3" 536870915]
  [36 :block/children 37 536870982]
  [36 :block/children 38 536870982]
  [36 :block/children 39 536870982]
  [36 :block/children 40 536870982]
  [36 :block/children 41 536870982]
  [36 :block/children 42 536870982]
  [36 :block/children 43 536870983]
  [36 :block/open true 536870982]
  [36 :block/uid "06-05-2021" 536870982]
  [36 :create/time 1622915494059 536870983]
  [36 :create/user 3 536870982]
  [36 :edit/time 1622880253823 536870982]
  [36 :edit/user 3 536870982]
  [36 :log/id 1622831400000 536870983]
  [36 :node/title "June 5th, 2021" 536870982]
  [37 :block/open true 536870982]
  [37 :block/order 0 536870982]
  [37 :block/string "ARE YOU AWARE NOW" 536870982]
  [37 :block/uid "n8vq-ZRz8" 536870982]
  [37 :create/time 1622880283219 536870982]
  [37 :create/user 3 536870982]
  [37 :edit/time 1622887437412 536870982]
  [37 :edit/user 3 536870982]
  [38 :block/open true 536870982]
  [38 :block/order 1 536870982]
  [38 :block/string "CAN YOU STOP BEING" 536870982]
  [38 :block/uid "tQBe81Yig" 536870982]
  [38 :create/time 1622887373886 536870982]
  [38 :create/user 3 536870982]
  [38 :edit/time 1622887450404 536870982]
  [38 :edit/user 3 536870982]
  [39 :block/open true 536870982]
  [39 :block/order 2 536870982]
  [39 :block/string "DONT BELIEVE YOUR NEXT THOUGHT" 536870982]
  [39 :block/uid "2sQTreOiS" 536870982]
  [39 :create/time 1622892366533 536870982]
  [39 :create/user 3 536870982]
  [39 :edit/time 1622892368045 536870982]
  [39 :edit/user 3 536870982]
  [40 :block/open true 536870982]
  [40 :block/order 3 536870982]
  [40 :block/string "AWARENESS ITSELF IS AWARE OF AWARENESS" 536870982]
  [40 :block/uid "6gdMoP_NZ" 536870982]
  [40 :create/time 1622893246139 536870982]
  [40 :create/user 3 536870982]
  [40 :edit/time 1622893248301 536870982]
  [40 :edit/user 3 536870982]
  [41 :block/open true 536870982]
  [41 :block/order 4 536870982]
  [41 :block/string "test 1" 536870982]
  [41 :block/uid "043h9AwyF" 536870982]
  [41 :create/time 1622893751775 536870982]
  [41 :create/user 3 536870982]
  [41 :edit/time 1622899784172 536870982]
  [41 :edit/user 3 536870982]
  [42 :block/open true 536870982]
  [42 :block/order 5 536870982]
  [42 :block/string "" 536870982]
  [42 :block/uid "F5l3HMel5" 536870982]
  [42 :create/time 1622899785343 536870982]
  [42 :create/user 3 536870982]
  [42 :edit/time 1622899785343 536870982]
  [42 :edit/user 3 536870982]
  [43 :block/children 44 536870983]
  [43 :block/open true 536870983]
  [43 :block/order 0 536870983]
  [43 :block/string "Import" 536870983]
  [43 :block/uid "VzPCMihxt" 536870983]
  [44 :block/children 45 536870983]
  [44 :block/open true 536870983]
  [44 :block/order 0 536870983]
  [44 :block/refs 36 536870983]
  [44 :block/string "[[June 5th, 2021]]" 536870983]
  [44 :block/uid "oRNBEOQlR" 536870983]
  [45 :block/open true 536870983]
  [45 :block/order 0 536870983]
  [45 :block/string "From: cvikas78.json" 536870983]
  [45 :block/uid "DMvBwUNsF" 536870983]]}
